

.fileSize{
  .gb{
    font-size: small;
    color: red;
  }
  .mb{
    font-size: small;
    color: blue;
  }
  .kb{
    font-size: small;
    color: green;
  }
  .b{
    font-size: small;
    color: #999;
  }
}