.popover-contract-hash-title {
  position: relative;

  a {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
  }
}

.textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0.01;
}

.popover-contract-hash-inline {
  display: inline-block;
  width: 100%;
  .content-box {
    display: inline-block;
    //width: 90%;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .content-copy {
    display: inline-block;
    width: 9%;
    max-width: 40px;
    text-align: center;
    vertical-align: middle;
  }
}

.popover-content {
  max-width: 820px;
  overflow: hidden;
  word-break: break-all;
}
