.pageContentBox {
  background: rgba(255, 255, 255, 0.82 );
  //margin: 0 0 0 15px;
  padding: 10px 15px;
  border-radius: 4px;
  min-height: calc(100vh - 230px);
  box-shadow: 0 0 7px #EEE;

  .pageTitle {
    position: relative;
    padding: 8px 15px 16px 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border-bottom: 1px solid #eee;
    line-height: 1.2em;
    margin: 0 0 6px 0;
    &.noTitle {
      display: none;
    }
    .subtitle {
      font-size: 15px;
      display: inline-block;
      padding-left: 10px;
      color: #888;
    }
    .extInfo {
      position: absolute;
      bottom: 8px;
      right: 0;
      font-size: 14px;
      line-height: 38px;
      :global{
        .ant-form-item{
          margin-bottom: 2px;
        }
      }
    }
  }

  .pageContentBoxWarp {
    padding: 6px 0;
  }

  .leftExtInfo {
    padding: 2px 0 12px 0;
  }

}



@media screen and (max-width: 800px) {
  // 折叠菜单,
  .pageContentBox{
    padding: 8px;
    .pageTitle {
      padding: 5px 15px 10px 0;
    }
  }
}