.pricingCompare{
  padding: 50px 0;
  .table{
    :global{
      .ant-table-thead{
        th{
          font-size: 20px;
          padding: 20px 0 !important;
          font-weight: 400 !important;
          text-align: center !important;
        }
      }
    }
  }

  .onBuy{
    padding: 16px 0;
  }

  .title{
    padding: 0 0 0 12px;
    font-size: 16px;
  }
  .value{
    text-align: center;
    font-size: 16px;
    .allow{
      color: #00b70d;
      font-size: 18px;
    }
    .notAllow{
      color: #C00;
      font-size: 18px;
    }
    small{
      color: #999;
      padding-left: 2px;
    }
  }


}
