.pricing{
  padding: 52px 0 0;
  min-height: 70vh;
  .pricingWarp{
    padding: 0 0 50px 0;
  }
  :global{
    .page-warp{
      position: relative;
    }
  }
  .vipList{
    position: relative;
    margin-top: -20px;
    z-index: 50;
    opacity: 0.9;
  }
  .softLogo{
    position: absolute;
    left: -90px;
    top: -20px;
    z-index: 1;
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pageTitle{
    position: relative;
    z-index: 10;
    line-height: 1.2em;
    padding: 16px 0 22px 120px;
    font-size: 36px;
    font-weight: 300;
    .subName{
      font-weight: 300;
      opacity: 0.7;
      font-size: smaller;
    }
    .pagePos{
      font-weight: 300;
      opacity: 0.6;
      .icon{
        font-size: smaller;
        padding: 0 12px;
        display: inline-block;
      }
    }
  }
  //.card{
  //  position: relative;
  //  overflow: hidden;
  //  z-index: 10;
  //  opacity: 0.9;
  //  margin: 0 0 24px 0;
  //  .productTitle{
  //    font-size: 20px;
  //  }
  //  .limitedDiscount{
  //    position: absolute;
  //    top: 0;
  //    right: 0;
  //    background-color: #C00;
  //    color: #FFF;
  //    padding: 6px 12px;
  //    line-height: 1em;
  //    border-bottom-left-radius: 6px;
  //  }
  //  .items{
  //    .title{
  //      min-height: 72px;
  //    }
  //    .operate{
  //      display: flex;
  //      flex-direction: row;
  //      .price{
  //        font-size: 22px;
  //        line-height: 32px;
  //        font-weight: 300;
  //        :global{
  //          .money-value{
  //            color: #F60;
  //            font-size: larger;
  //          }
  //        }
  //      }
  //      .submits{
  //        flex: 2;
  //        text-align: right;
  //      }
  //    }
  //  }
  //}

}



@media screen and (max-width: 480px) {
  body {
    .pricing{
      padding: 30px 0 0;
      .softLogo{
        left: -40px;
      }
      .pageTitle{
        padding-left: 140px;
        font-size: 32px;
      }
    }
  }
}